{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>Add a new review</h1>
            <form method ="post">
                {% csrf_token %}
                {{ ReviewForm.as_p }}
                <button>Submit</button>
            </form>
        </div>
    </main>
{% endblock content %}
