{% extends 'base.html' %}

{% block title %}
    Edit {{ review.coffeebean }}
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <p>Home</p>
        </nav>
    </header>
    <main>
        <h1>Edit {{ review.coffeebean }}</h1>
        <form method ="post">
            {% csrf_token %}
            {{ ReviewForm.as_p }}
            <button>Save</button>
        </form>
    </main>
{% endblock content %}

{% load static %}
