{% extends 'base.html' %}

{% block content %}
  <h1>Your Reviews</h1>

  {% if user_reviews %}
    <ul>
      {% for review in user_reviews %}
        <li>
          {{ review.coffee_bean.name }} - {{ review.rating }}
          <a href="{% url 'edit_review' review.id %}">Edit</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You haven't written any reviews yet.</p>
  {% endif %}
{% endblock content %}
