{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="form-container">
            <h1>Add a New Bean</h1>
            <form method="post" class="coffee-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">{{ CoffeeBeanForm.name.label }}</label>
                    {{ CoffeeBeanForm.name }}
                </div>
                <div class="form-group">
                    <label for="id_origin">{{ CoffeeBeanForm.origin.label }}</label>
                    {{ CoffeeBeanForm.origin }}
                </div>
                <div class="form-group">
                    <label for="id_flavor_profile">{{ CoffeeBeanForm.flavor_profile.label }}</label>
                    {{ CoffeeBeanForm.flavor_profile }}
                </div>
                <div class="form-group">
                    <label for="id_picture">{{ CoffeeBeanForm.picture.label }}</label>
                    {{ CoffeeBeanForm.picture }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </main>
{% endblock content %}
