{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>{{ coffee_bean.name }}</h1>
            <img src="{{ coffee_bean.picture }}" alt="{{ coffee_bean.name }}" style="max-width: 400px; height: auto;">
            <p>Origin: {{ coffee_bean.origin }}</p>
            <p>Flavor Profile: {{ coffee_bean.flavor_profile }}</p>

            <h2>Reviews</h2>
            {% if reviews %}
                <ul>
                    {% for review in reviews %}
                        <li>
                            <p>Rating: {{ review.rating }}</p>
                            <p>Review Date: {{ review.review_date }}</p>
                            <p>Reviewer: {{ review.reviewer.username }}</p>
                            <p>Reviews: {{ review.review }}</p>

                            {% if request.user == review.reviewer %}
                                <a href="{% url 'edit_review' review.id %}">Edit</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No reviews available for this coffee bean.</p>
            {% endif %}

            <a href="{% url 'add_review' coffee_bean.id %}">Add a Review</a>
        </div>
    </main>
{% endblock content %}
