{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
    </nav>
</header>
<main>
    <h2>Coffee Beans</h2>
    <div class="coffee-grid">
        {% for coffee_beans in list_coffee %}
            <div class="coffee-item">
                <h3>
                    <a href="{% url 'show_coffee' coffee_beans.id %}">{{ coffee_beans.name }}</a>
                </h3>
                <div class="perspective">
                    <div class="card">
                        <a href="{% url 'show_coffee' coffee_beans.id %}">
                            <img src="{{ coffee_beans.picture }}" alt="{{ coffee_beans.name }}">
                        </a>
                    </div>
                </div>
                <p>Average Rating: {{ coffee_beans.avg_rating|default:"No reviews yet" }}</p>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}

{% load static %}
