
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: beige;
}

header {
    background-color: #2b2b2b;
    overflow: hidden;
}

nav {
    float: left;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 16px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
}
/* coffee */
.coffee-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
}

.coffee-item {
    text-align: center;
}

.coffee-item img {
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

.coffee-item h3 {
    margin: 10px 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.coffee-form .form-group {
    margin-bottom: 20px;
}

.coffee-form label {
    display: block;
    font-weight: bold;
}

.coffee-form input[type="text"],
.coffee-form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.coffee-form button {
    padding: 10px 20px;
    background-color: #05101b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.coffee-form button:hover {
    background-color: #0056b3;
}
