{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeanScene</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <a href="{% url 'list_coffee' %}">
            <img src="{% static '/images/2_Fotor.png' %}" alt="Logo" class="logo">
        </a>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'user_reviews' %}">My Reviews</a></li>
                    <li><a href="{% url 'add_coffee' %}">Add a New Bean</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
{% block content %}{% endblock content %}
<footer class="footer">
    <div>coldbrew inc. 2024</div>
</footer>
</body>
</html>
